<h1><%= @place["name"] %></h1>

<button class="btn btn-info">
  <a href="/entries/new?place_id=<%= @place["id"] %>">New Post</a>
 </button>
</p>

<h2>My Entries</h2>

<div class="container">
  <div class="row">
    <% @entries.each_slice(3) do |group| %>
      <% group.each do |entry| %>
        <div class="col-md-4 col-sm-12">
          <p><%= entry["title"] %></p>
          <p><%= entry["occurred_on"] %></p>
          <% if entry.uploaded_image.attached? %>
            <img src="<%= url_for(entry.uploaded_image) %>" class="img-fluid">
          <% else %>
            <img src="<%= entry["image"] %>" class="img-fluid">
          <% end %>
          <p><%= entry["description"] %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<button class="btn btn-info">
  <a href="/places">Back to All Places</a>
 </button>
